examples/web-pdf-example.json
[
  {
    "id": "e52a0caf922c1591",
    "type": "http request",
    "z": "19cb94d5b096ef08",
    "name": "https://www.w3.org/2014/02/wot/slides/conway-jones.pdf",
    "method": "GET",
    "ret": "bin",
    "paytoqs": "ignore",
    "url": "https://www.w3.org/2014/02/wot/slides/conway-jones.pdf",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 780,
    "y": 1140,
    "wires": [
      [
        "19c6eeadb3ebd712",
        "b7b0060584145565"
      ]
    ]
  },
  {
    "id": "add62139c712b86b",
    "type": "http in",
    "z": "19cb94d5b096ef08",
    "name": "",
    "url": "/pdf-get-single-page",
    "method": "get",
    "upload": false,
    "skipBodyParsing": false,
    "swaggerDoc": "",
    "x": 390,
    "y": 1140,
    "wires": [
      [
        "e52a0caf922c1591"
      ]
    ]
  },
  {
    "id": "03f1404f710d5fe9",
    "type": "http response",
    "z": "19cb94d5b096ef08",
    "name": "",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/pdf",
      "Content-Disposition": "inline; filename=a-single-pdf-page.pdf"
    },
    "x": 1310,
    "y": 1140,
    "wires": []
  },
  {
    "id": "6d6a3cfc824f8604",
    "type": "inject",
    "z": "19cb94d5b096ef08",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 450,
    "y": 1200,
    "wires": [
      [
        "e52a0caf922c1591"
      ]
    ]
  },
  {
    "id": "19c6eeadb3ebd712",
    "type": "debug",
    "z": "19cb94d5b096ef08",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1120,
    "y": 1200,
    "wires": []
  },
  {
    "id": "b7b0060584145565",
    "type": "pdf-get-page",
    "z": "19cb94d5b096ef08",
    "name": "",
    "pdfPage": "4",
    "x": 1130,
    "y": 1140,
    "wires": [
      [
        "03f1404f710d5fe9"
      ]
    ]
  },
  {
    "id": "4e197bfa84124c08",
    "type": "global-config",
    "env": [],
    "modules": {
      "@aaqu/node-red-aaqu-pdf": "0.1.3"
    }
  }
]